img{
    height: 300px;
    width: 400px;
  }
  body{
    color: rgb(10, 43, 133);
  }
  .content1{
    display: inline-block;
    margin: 20px;
  }
  .content-2{
    width: 300px;
    margin: 20px;
    padding-right: 20px;
    display: inline-flex;
  }
  .footer{
    display: inline-flex;
  }
  .feature-layout {
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* PC, Tablet */
@media (min-width: 740px) {
    .feature-layout {
        flex-direction: row;
    }
}

.feature-item {
    padding: 12px 16px;
    margin-top: 16px;
    flex-basis: 30%;
}

.feature-item:nth-child(1) {
    background-color: rgb(192, 227, 222);

}

.feature-item:nth-child(2) {
    background-color: rgb(227, 200, 192);
}

.feature-item:nth-child(3) {
    background-color: rgb(226, 192, 227);
}